@{
    ViewData["Title"] = "Página de inicio";
}

<div class="text-center">
    <h1 class="display-4">Patrones de diseño: Trabajo Final</h1>
    <p>Este es un proyecto final para demostrar el funcionamiento de la arquitectura MVC .</p>
    <p>
        ▲ Gallardo Mancilla Ulises Antonio - 16211998<br>
        ▲ González Sepúlveda Genaro Eugenio - 16212017<br>
        ▲ Ortiz Vasquez Luis Fernando-16212059<br>
        ▲ Salgado Gonzalez Marcos Manuel - 16212071<br>
    </p>
</div>
