@{
    ViewData["Title"] = "Este es un proyecto final para demostrar el funcionamiento de la arquitectura MVC";
}

<h2>Bienvenidos</h2>

<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]; i++)
    {
        <li>"Patrones de diseño"</li>
    }
</ul>